@model IEnumerable<Pays>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center border-dark border-2">
    <h1 class="display-4">Liste des pays</h1>
</div>
<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter un Pays</button>
</div>
<br />
<div>
    <table id="myTable" class="table table-responsive table-bordered border-1">
    <thead>
        <tr>
            <th width="5%">Id</th>
            <th>Pays</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pays in Model)
        {
            <tr>
                 <td>@pays.Id</td>
                 <td>@pays.Nom</td>       
                 <td></td>
            </tr>
        }
    </tbody>
</table>
</div>

<!-- Modal  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout d'un Pays</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           <form method="POST">
                <div class="modal-body">
                    <input class="form-control" id="inputPays" name="inputPays" type="text" placeholder="Pays" aria-label="default input example">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
           </form>
        </div>
    </div>
</div>

<script>

    $("#exampleModal").on('hide.bs.modal', function () {
        // Réinitialisation du champs Pays 
        document.getElementById("inputPays").value = "";
    });
    
</script>

